@{
    ViewBag.Title = "Index";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row" style="padding-top:50px;">
            <h2 class="panel-title pull-left">
                Controle de veículos/clientes
            </h2>
            <button style="margin-right:5px" id="addNewItem" class="btn btn-primary pull-right">Adicionar Cliente</button>
        </div>
    </div>
    <div class="panel-body">
        <table id="clientesTable" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Endereço</th>
                    <th>Telefone</th>
                    <th>E-mail</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<div id="novoClienteModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Novo Cliente - Preencha as informações</h4>
            </div>
            <div class="modal-body">
                <h3>
                    Veículo
                </h3>
                <hr />
                <div class="form-horizontal">
                    <input type="hidden" id="clienteId" />
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Nome
                        </label>
                        <div class="col-md-4">
                            <input type="text" id="nome" placeholder="Nome do Cliente" class="form-control" />
                        </div>
                        <label class="control-label col-md-2">
                            Endereço
                        </label>
                        <div class="col-md-4">
                            <input type="text" id="endereco" placeholder="Endereço do Cliente" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Telefone
                        </label>
                        <div class="col-md-4">
                            <input type="text" id="telefone" placeholder="Telefone do Cliente" class="form-control" />
                        </div>
                        <label class="control-label col-md-2">
                            E-mail
                        </label>
                        <div class="col-md-4">
                            <input type="text" id="email" placeholder="E-mail do Cliente" class="form-control" />
                        </div>
                    </div>
                </div>
                <h3 style="margin-top:10px">Veículos do Cliente</h3>
                <table id="veiculosTable" class="table">
                    <thead>
                        <tr>
                            <th style="width:20%">Marca</th>
                            <th style="width:20%">Modelo</th>
                            <th style="width:20%">Cor</th>
                            <th style="width:15%">Ano</th>
                            <th style="width:15%">Placa</th>
                            <th style="width:10%"></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <a class="btn btn-info" id="addVeiculo">Adicionar Veículo</a>
                            </td>
                        </tr>
                    </tfoot>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <button id="salvarCliente" type="button" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
</div>

<div id="veiculosModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Novo Veículo</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <input type="hidden" id="veiculoId" />
                        <label class="control-label col-md-2">
                            Marca
                        </label>
                        <div class="col-md-4">
                            <input type="text" id="marca" placeholder="Marca" class="form-control" />
                        </div>
                        <label class="control-label col-md-2">
                            Modelo
                        </label>
                        <div class="col-md-4">
                            <input type="text" id="modelo" placeholder="Modelo" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Cor
                        </label>
                        <div class="col-md-2">
                            <input type="text" id="cor" placeholder="Cor" class="form-control" />
                        </div>
                        <label class="control-label col-md-2">
                            Ano
                        </label>
                        <div class="col-md-2">
                            <input type="text" id="ano" placeholder="Ano" class="form-control" />
                        </div>
                        <label class="control-label col-md-2">
                            Placa
                        </label>
                        <div class="col-md-2">
                            <input type="text" id="placa" placeholder="Placa" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3 col-lg-offset-9">
                            <a id="addVeiculoList" class="btn btn-default">Adicionar Veículo</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(function () {

            //Popula o JS Datatable com a listagem de clientes
            var orderUrl = '@Url.Action("getClientes", "Home")';

            var table = $("#clientesTable").DataTable({
                "processing": true,
                "serverSide": true,
                "filter": false,
                "orderMulti": false,
                "ajax": {
                    "url": orderUrl,
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [

                    { "data": "nome", "name": "nome", "autoWidth": true },
                    { "data": "endereco", "name": "endereco", "autoWidth": true },
                    { "data": "telefone", "name": "telefone", "autoWidth": true },
                    { "data": "email", "name": "email", "autoWidth": true },
                    { "data": null, "name": "Action", "defaultContent": '<a href="#" class="editItem">Editar Cliente</a>', "autoWidth": true }

                ]
            });

            var saveUrl = '@Url.Action("salvarCliente", "Home", new { area=""})';

            //No click do adicionar novo cliente, limpa campos e mostra modal de clientes
            $("#addNewItem").click(function (e) {
                e.preventDefault();
                $("#nome").val('');
                $("#endereco").val('');
                $("#clienteId").val('');
                $("#veiculosTable tbody tr").remove();
                $("#salvarCliente").html("Salvar");
                $('#novoClienteModal').modal('show');
            });

            //No click do add novo veículo, mostra o modal de veículos
            $("#addVeiculo").click(function (e) {
                e.preventDefault();
                $('#veiculosModal').modal('show');
            });

            $("#addVeiculoList").click(function (e) {
                e.preventDefault();

                if ($.trim($("#marca").val()) == "" || $.trim($("#modelo").val()) == "" ) return;

                var marca = $("#marca").val(),
                    modelo = $("#modelo").val(),
                    cor = $("#cor").val(),
                    ano = $("#ano").val(),
                    placa = $("#placa").val(),
                    veiculosTableBody = $("#veiculosTable tbody");

                var veiculoItem = '<tr><td>' + marca + '</td><td>' + modelo + '</td><td>' + cor + '</td><td>' + ano + '</td><td>' + placa + '</td><td><a data-itemId="0" href="#" class="deleteItem">Excluir</a></td></tr>';
                veiculosTableBody.append(veiculoItem);
                clearItem();
            });

            function clearItem() {
                $("#marca").val('');
                $("#modelo").val('');
                $("#cor").val('');
                $("#ano").val('');
                $("#placa").val('');
            }

            function salvarCliente(data) {
                return $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    type: 'POST',
                    url: saveUrl,
                    data: data
                });
            }

            function getCliente(id) {
                return $.ajax({
                    type: 'GET',
                    url: '@Url.Action("getSingleCliente", "Home", new { area = "" })',
                    data: "clienteId=" + id
                });
            }

            function getSingleVeiculo(id) {
                return $.ajax({
                    type: 'GET',
                    url: '@Url.Action("getSingleVeiculo", "Home", new { area = "" })',
                    data: "id=" + id
                });
            }

            function deleteVeiculo(id) {
                return $.ajax({
                    type: 'POST',
                    url: '@Url.Action("deleteVeiculo", "Home", new { area = "" })',
                    data: "id=" + id
                });
            }

            $(document).on('click', 'a.deleteItem', function (e) {
                e.preventDefault();
                var $self = $(this);
                if ($(this).attr('data-itemId') == "0") {
                    $(this).parents('tr').css("background-color", "#FF3700").fadeOut(800, function () {
                        $(this).remove();
                    });
                } else {
                    $.when(deleteVeiculo($(this).attr('data-itemId'))).then(function (res) {
                        $self.parents('tr').css("background-color", "#FF3700").fadeOut(800, function () {
                            $(this).remove();
                        });
                    }).fail(function (err) {

                    });
                }
            });

            $("#salvarCliente").click(function (e) {
                e.preventDefault();

                var veiculoArr = [];
                veiculoArr.length = 0;

                $.each($("#veiculosTable tbody tr"), function () {
                    veiculoArr.push({
                        Marca: $(this).find('td:eq(0)').html(),
                        Modelo: $(this).find('td:eq(1)').html(),
                        Cor: $(this).find('td:eq(2)').html(),
                        Ano: $(this).find('td:eq(3)').html(),
                        Placa: $(this).find('td:eq(4)').html(),
                    });
                });

                var data = JSON.stringify({
                    Nome: $("#nome").val(),
                    Endereco: $("#endereco").val(),
                    Telefone: $("#telefone").val(),
                    Email: $("#email").val(),
                    Veiculos: veiculoArr
                });

                $.when(salvarCliente(data)).then(function (response) {
                    console.log(response);
                }).fail(function (err) {
                    console.log(err);
                });
            });

            $(document).on("click", '.editItem', function (e) {
                var data = table.row($(this).parents('tr')).data();
                console.log(data);
                e.preventDefault();
                var id = data.clienteId;
                //debugger;
                $.when(getCliente(id)).then(function (res) {
                    var veicArr = [];
                    veicArr.length = 0;
                    $("#veiculosTable tbody tr").remove();
                    $("#nome").val(res.result.Nome);
                    $("#endereco").val(res.result.Endereco);
                    $("#telefone").val(res.result.Telefone);
                    $("#email").val(res.result.Email);
                    $("#clienteId").val(res.result.ClienteId);

                    $.each(res.result.Veiculos, function (i, v) {
                        //debugger;
                        
                        veicArr.push('<tr><td>' + v.Marca + '</td><td>' + v.Modelo + '</td><td>' + v.Cor + '</td><td>' + v.Ano + '</td><td>' + v.Placa + '</td><td><a data-itemId="' + v.VeiculoId + '" href="#" class="deleteItem">Excluir</a> | <a href="#" data-itemId="' + v.VeiculoId + '" class="editDetail">Editar</a></td></tr>')
                    
                        
                    });
                    $("#veiculosTable tbody").append(veicArr);
                    $("#salvarCliente").html("Atualizar");
                    $('#novoClienteModal').modal('show');

                }).fail(function (err) {
                    console.log(err);
                });
            });

            $(document).on("click", '.editDetail', function (e) {

                e.preventDefault();
                var id = $(this).attr("data-itemid");

                $.when(getSingleVeiculo(id)).then(function (res) {
                    var veicArr = [],
                        data = res.result;
                    $("#veiculoId").val(data.VeiculoId);
                    $("#marca").val(data.Marca);
                    $("#modelo").val(data.Modelo);
                    $("#cor").val(data.Cor);
                    $("#ano").val(data.Ano);
                    $("#placa").val(data.Placa);

                    $('#veiculosModal').modal('show');

                }).fail(function (err) {
                    console.log(err);
                });
            });
        });
    </script>
}